!!!
%html
  %head
    :css
      body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }

      .container-fluid {
        width: 100%;
        height: 97vh;
        top: 0;
        left: 0;
        display: -ms-flexbox !important;
        display: flex !important;
      }

      .container {
        height: 100% !important;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }

      .content-wrapper {
        position: relative;
        left: 20%;
        width: 60%;
        / display: inline-flex;
        padding: 5% 0;
      }

      .content {
        margin: 5% 7%;
      }

      .header {
        background-color: #24292e;
        height: 70px;
        width: 100%;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      .footer {
        background-color: #24292e;
        height: 70px;
        width: 100%;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }

      .list-group {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
      }

      .list-group > .list-group-item:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      .list-group > .list-group-item:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }

      .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
      }

      .issue {
        text-decoration: none !important;
        color: #0366d6 !important;
      }

      .issue:hover {
        color: #0366d6 !important;
      }

      .user {
        font-size: 12px !important;
        color: #586069 !important;
        text-decoration: none !important;
      }

      .user:hover {
        color: #0366d6 !important;
      }

      .header-content {
        text-align: center;
        top: 20%;
        position: relative;
      }

      .justify-center {
        position: absolute;
      }

  %body
    .container-fluid
      .container
        .content-wrapper
          .header
            .header-content
              %span{ style: "display: block; color: white;font-size: 25px;" }
                Recent rails issue merges
          .content
            %p
              Hi
              = @user.email
              , Thanks for subscribing to newsletter. Please
              %a.issue{ href: "#{host}/verify/#{@user.token}" }
                click here
              to verify your email address
          .footer
