.container.justify-content-center.align-self-center
  .row
    .col-sm-12.text-center
      %img.img-fluid.banner{ src: 'images/rails-logo.svg', alt: 'rails logo' }
      %p
        Subscribe below to recieve the list of merged issues for Rails
  .row.justify-content-center
    .col-sm-5
      .row
        .col-sm-9
          %input#email.form-control{ type: 'text', placeholder: "Enter your email" }
        .col-sm-3.text-right
          %button#subscribe.btn.btn-primary
            Subscribe
