.site-icon {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
}

.banner {
  position: relative;
  width: 42%;
}

.p-absolute {
  position: absolute;
}
